<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007542814191-25g2o8khf4glles63iq9rkc88731a4gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007542814191-25g2o8khf4glles63iq9rkc88731a4gc</string>
	<key>API_KEY</key>
	<string>AIzaSyAiuPzoDEYRpo6CEd5kTab0IXNHhcyZCm0</string>
	<key>GCM_SENDER_ID</key>
	<string>1007542814191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nihilentmobile.ncash</string>
	<key>PROJECT_ID</key>
	<string>cirrusmobile-d994d</string>
	<key>STORAGE_BUCKET</key>
	<string>cirrusmobile-d994d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007542814191:ios:d944609a81293191</string>
	<key>DATABASE_URL</key>
	<string>https://cirrusmobile-d994d.firebaseio.com</string>
</dict>
</plist>